body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-color: #000000; /* устанавливаем цвет текста по умолчанию */
}

.item-div svg {
  fill: var(--text-color);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: e-UrkaineHead-Regular;
  src: url('./font/e-UkraineHead-Regular.ttf');
}

@keyframes voice {
  0%,
  100% {
    height: 10px;
  }
  50% {
    height: 35px;
  }
}

::-webkit-scrollbar {
  width: 6px; 
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Main style */

.main{
  display: flex;
  font-family: e-UrkaineHead-Regular;
}

.white-block{
  width: 30%;
  height: 100vh;
  padding-left: 70px;
}

.white-block-lesson{
  width: 30%;
  height: 100vh;
  padding-left: 70px;
}

.eye-image{
  margin: 50px 0px;
}

.item-text-h1{
  margin: 50px 0px 0px 0px;
  width: 237px;
  z-index: 1;
}

.black-block{
  width: 70%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center; 
  align-items: center;
  z-index: 1;
}

.black-block-finish{
  width: 70%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}


.item-button{
  width: 400px;
  height: 100px;
  border-radius: 100px;
  font-size: 36px;
  border: none;
  font-family: e-UrkaineHead-Regular;
}

.black-block-lesson{
  width: 70%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center; 
  align-items: center;
  z-index: 1;

}

.item-header-block{
  display: flex;
  justify-content: space-between;
  width: 380px;
}

.arrow-left{
  position: relative;
  top: 43px;
  right: 20px;
}

.arrow-left-goal{
  position: relative;
  top: 43px;
  right: 20px;
}

.arrow-left-speak{
  position: relative;
  top: 43px;
  right: 20px;
}

.arrow-left-lesson{
  position: relative;
  top: 43px;
  right: 20px;
}

.arrow-left-finish{
  position: relative;
  top: 43px;
  right: 20px;
}

.item-text-h1-level{
  margin-top: 50px;
}

.item-text-h1-goals{
  margin-top: 50px;
}

.item-text-h1-speak{
  margin-top: 50px;
  width: 150px;
}

.item-text-h1-lesson{
  margin-top: 50px;
}
.item-text-h1-finish{
  margin-top: 50px;
  width: 100px;
}

.logo{
  margin-top: 70px;
}
.logo-goal{
  margin-top: 50px;
}
.logo-level{
  margin-top: 50px;
}
.logo-speak{
  margin-top: 50px;
}

.logo-lesson{
  margin-top: 50px;
}

.logo-finish{
  margin-top: 50px;
}

.frame{
  position: relative;
  top: -200px;
  right: 200px;
  z-index: 999;
  background-color: black;
  border: 1px solid red;

}

.true-block{
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.item-true-block{
  width: 680px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
}

.item-false-block{
  width: 680px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.false-block{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .main {
    display: block;
    margin: 0;
    width: 112vw;
  }

  .item-text-h1{
    margin: 170px 0px 0px -20px;
    width: 350px;
  }

  .logo{
    margin: -300px 0px 120px 0px;
  }

  .logo-goal{
    margin: -58px 0px 240px -15px;
    width: 50px;
    height: 50px;
  }

  .logo-level{
    margin: -232px 0px 240px -15px;
    width: 50px;
    height: 50px;
  }

  .logo-speak{
    margin: -208px 0px 280px -15px;
    width: 50px;
    height: 50px;
  }

  .logo-lesson{
    margin: -240px 0px 280px -15px;
    width: 50px;
    height: 50px;
  }

  .logo-finish{
    margin: -220px 0px 280px -15px;
    width: 50px;
    height: 50px;
  }

  .item-text-h1-goals{
    margin: 90px 0px -120px -20px;
    width: 200px;
    font-size: 14px;
  }

  .item-text-h1-level{
    margin: 90px 0px 50px -20px;
    width: 250px;
    font-size: 16px;
  }

  .item-text-h1-speak{
    margin: 90px 0px 50px -20px;
    width: 250px;
    font-size: 16px;
  }

  .item-text-h1-lesson{
    margin: 100px 0px 50px -20px;
    width: 250px;
    font-size: 16px;
  }

  .item-text-h1-finish{
    margin: 100px 0px 50px -20px;
    width: 250px;
    font-size: 16px;
  }


  .eye-image{
    margin: 43px 0px 0px 255px;
  }

  .arrow-left{
    position: relative;
    top: 100px;
    right: 335px;
  }

  .arrow-left-goal{
    position: relative;
    top: 100px;
    right: 336px;
  }

  .arrow-left-speak{
    position: relative;
    top: 100px;
    right: 336px;
  }

  .arrow-left-lesson{
    position: relative;
    top: 100px;
    right: 336px;
  }

  .arrow-left-finish{
    position: relative;
    top: 100px;
    right: 336px;
  }

  .black-block-lesson{
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    width: 121vw;
    height: 83vh;
    margin-top: -420px;
  }

  .true-block{
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  

}

a {
  text-decoration: none; 
  color: inherit; 
}

/* LanguageLevel style */

.item-block{
  display: flex;
  justify-content: start;
  padding: 0px 0px 0px 10px;
  text-align: center;
  width: 900px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  border-radius: 100px;
}

.black-block-level-english{
  width: 70%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-text{
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 27px;
}

.item-text-level{
  font-size: 24px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .black-block-level-english{
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    width: 121vw;
    height: 74vh;
    margin-top: -430px;
  }

  .black-block{
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    width: 121vw;
    height: 65vh;
    margin-top: -350px;
  }

  .black-block-finish{
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    width: 121vw;
    height: 65vh;
    margin-top: -350px;
  }

  .item-block{
    margin-top: 20px;
    width: 98vw;
    padding: 00px 0px;
    height: 50px;
  }

  .eye-image-level{
    margin-left: 650px;
    margin-top: 100px;
  }

  .item-text-level{
    display: flex;
    justify-content: start;
    height: 50px;
    margin: 0px 0px 0px 30px;
    font-size: 12px;
    align-items: center;
    width: 300px;
  }

  .p-number{
    width: 70px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 16px;
  }

  .p-number-4{
    width: 70px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 16px;
  }

}


/* Goals style */

.black-block-goals {
  width: 70%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto; 
  align-items: center; 
  justify-content: center; 
}



.item-div{
  text-align: center;
  padding-top: 10px;
  width: 360px;
  height: 170px;
  margin: 10px 0px 0px 80px;
  background-color: #ffffff;
  font-family: e-UrkaineHead-Regular;
  border-radius: 20px;
}


@media only screen and (max-width: 768px) {
  .black-block-goals{
    background-color: rgb(0, 0, 0);
    width: 121vw;
    height: 74vh;
    margin-top: -430px;
    grid-template-columns: repeat(1, 1fr);
  }

  .p-page{
    display: none;
  }

  .item-div{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 64px;
    margin: 10px 0px 0px 80px;
    background-color: #ffffff;
    color: black;
    padding: 1px 0px 0px 0px;
    font-family: e-UrkaineHead-Regular;
  }

  .item-div svg {
    display: none;
  }

  .black-block-speak{
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 0px 76px 0px;
    margin-top: -400px;
  }

  .block-travel{
    margin: 0px 0px 0px -115px;    
  }

  .block-travel img {
    display: none;
  }

}

/* Speaking style */

.black-block-speak {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
}

.block-travel {
  width: 50%; 
  box-sizing: border-box; 
}

.block{
  margin-left: 100px;
  margin-top: 20px;
  width: 320px;
  height: 180px;
  padding: 50px 0px;
  border-radius: 100px;
  background-color: white;
  color: black;
}

.item-text-travel{
  width: 300px;
  text-align: center;
  font-family: e-UrkaineHead-Regular;
}

.item-img{
  display: flex;
  margin: 0 auto;
}

/* Modal style */
.modal {
  background-color: #4c4a4a;
  width: 500px;
  height: 510px;
  border-radius: 15px;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

@media only screen and (max-width: 768px) {
  .modal {
    width: 380px;
    height: 509px;
  }

  .block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 10px;
  }

  .title-modal{
    padding: 0px 0px 0px 25px;
    width: 360px;
  }
  .white-block{
    width: 107vw;
    padding-left: 50px;
  }
  .color-options{
    padding-left: 5px;
  }
  .white-block-lesson{
    width: 107vw;
    padding-left: 50px;
  }
}

.block-modal{
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.color-options{
  width: 300px;
  margin-left: 10px;
}

.title-modal{
  margin: 0px 0px 0px 20px;
}

.color-option-button{
  width: 30px;
  height: 30px;
  border: none;
}

.color-option-button:hover{
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}