body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 6px; 
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Main style */

.main{
  display: flex;
}

.white-block{
  width: 30%;
  height: 100vh;
  margin: 0px 0px 0px 50px;
}

.eye-image{
  margin: 50px 0px;
}

.item-text-h1{
  margin: 50px 0px 200px 0px;
  width: 257px;
}

.black-block{
  width: 70%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center; 
  align-items: center;
}

.item-button{
  width: 400px;
  height: 100px;
  border-radius: 100px;
  font-size: 36px;
  border: none;
}

@media only screen and (max-width: 768px) {
  .main {
    display: block;
  }

  .item-text-h1{
    display: flex;
    justify-content: center;
    width: 300px;
  }

  .black-block{
    width: 100vw;
  }

}

a {
  text-decoration: none; 
  color: inherit; 
}

/* LanguageLevel style */

.item-block{
  display: flex;
  justify-content: start;
  text-align: center;
  width: 900px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 100px;
}

.black-block-level-english{
  width: 70%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.item-text{
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 27px;
}

.item-text-level{
  font-size: 24px;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .black-block-level-english{
    background-color: rgb(0, 0, 0);
    width: 100vh;
  }

  .item-block{
    margin-top: 50px;
    width: 840px;
    height: 100px;
  }

}


/* Goals style */

.black-block-goals{
  width: 70%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.black-block-goals {
  display: flex;
  flex-wrap: wrap; 
}

.item-div{
  margin-top: 80px;
}

.black-block-goals > div {
  flex: 1 0 50%; 
  text-align: center; 
  color: white;
}

.black-block-goals > div:nth-child(-n + 2) {
  order: -1;
}

.black-block-goals > div:nth-last-child(-n + 2) {
  order: 2;
}

@media only screen and (max-width: 768px) {
  .black-block-goals{
    background-color: rgb(0, 0, 0);
    width: 100vh;
    font-size: 34px;
  }

}

/* Speaking style */

.black-block-speak {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
}

.block-travel {
  width: 50%; 
  box-sizing: border-box; 
}

.block{
  margin-left: 100px;
  width: 320px;
  height: 320px;
  border-radius: 100px;
  background-color: white;
  color: black;
}

.item-text-travel{
  width: 300px;
  text-align: center;
}

.item-img{
  display: flex;
  margin: 0 auto;
}

.block-travel:nth-child(-n + 2),
.block-travel:nth-last-child(-n + 2) {
  order: -1;
}

